{% extends 'base.html' %} {% block title %} {{m}} {% endblock %} {% block
content %}
<h5>Hi {{teacherName}}, you logged in successufuly!</h5>
<br />
<h3>CRUD FOR TEACHERS IN PROGRESS...</h3>
<button type="button" class="btn btn-primary" onclick="redirectTolist()">
  View Your Students List
</button>
<button type="button" class="btn btn-primary" onclick="redirectToadd()">
  Add Student
</button>
<script>
  var studentsList =
    "{{ url_for('authTeacher.get_students', teacherName=teacherName, students=students) }}";

  $(document).ready(function () {
    $("#lastModificationsModal").modal("show");
  });
  function redirectToSignUp() {
    window.location.href = studentsList;
  }
  var addStudent = "{{ url_for('authTeacher.add_student') }}";

  $(document).ready(function () {
    $("#lastModificationsModal").modal("show");
  });
  function redirectToadd() {
    window.location.href = addStudent;
  }
</script>

{% endblock %}
