{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/teachers.css') }}"
/>
{% endblock %} {% block title %} Home {% endblock %} {% block content%}

<h3>Welcome Mr. {{ teacherName }}, here is your students's list</h3>
<div class="studentsCRUD">
  <table>
    <tr>
      <th>Student Name</th>
      <th>Student email</th>
      <th>Actions</th>
    </tr>
    {% for student in students %}
    <tr>
      <td>{{student.name}}</td>
      <td>{{student.email}}</td>
      <td><a href="/teachers/studentsList/update/{{student.id}}">Update</a></td>
      <td><a href="/teachers/studentsList/delete/{{student.id}}">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
